<ion-view view-title-="Aloha Resort" hide-back-button="true">
	<ion-content>
		<div class="list">
			<a href='#/reservation' class="item item-icon-left">
				<i class="icon ion-document-text"></i> See your reservation or dont't
			</a>
			<a href="#/weather" class="item item-icon-left">
				<i class="icon ion-ios-partlysunny"></i>
				Current Weather and 10 days from now
			</a>
			<a href="#/restaurants" class="item item-icon-left">
				<i class="icon ion-fork"></i> Nearby Restaurant and Hotel
			</a>
		</div>
	</ion-content>
</ion-view>